@model CoffeeShop.Models.UserOrder

@{
    ViewData["Title"] = "OrderIndex";
}

<h1>OrderIndex</h1>

<form asp-controller="Order" asp-action="Order">
    <label>UserName</label><input asp-for="UserName" />
    <label>Coffe Type:</label>
    <select asp-for="CoffeeOrder">
        @{
            string[] coffeeTypes = MenuItems.CoffeeType;
            foreach (String c in coffeeTypes)
            {
                <option>@c</option>
            }
        }
    </select>
    <input type="submit" />
</form>

