@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Barista John's</h1>
    <p>Our Coffee is always made fresh. We use the highest quality
    <br />of beans only. Please take a moment to review our Menu. </p>
    <p>If you would like to place an order, Please click on the Register tab at the top of this page.</p>
</div>
<div class="login">
    <a href="">login here</a>
</div>
