
@{
    ViewData["Title"] = "ProductIndex";
    List<Product> Products = (List<Product>)ViewData["Products"];
}


<h1>Products Available</h1>

<ul>
    @foreach (Product p in Products)
    {
        <li>@p.Name (@p.Category) @p.Temperature @p.Description $@p.Price</li>
    }
</ul>