@model CoffeeShop.Models.UserInfo

@{
    ViewData["Title"] = "RegisterIndex";
}

<h1>Register Here</h1>
@{
    if (ViewData["errorMsg"] != null)
    {
        <p><strong>@ViewData["errorMsg"]</strong></p>
    }
}

<form asp-controller="Register" asp-action="Register" method="post">
    <label>First Name: </label><input asp-for="FirstName" maxlength="20" /><br />
    <label>Last Name: </label><input asp-for="LastName" maxlength="20" /><br />
    <label>Email: </label><input type="email" asp-for="Email" /><br />
    <label>Password(Min 8 Character):</label><input type="password" asp-for="Password" maxlength="20" required />
    <label>Re-Enter Password(Min 8 Character):</label><input type="password" asp-for="Password2" maxlength="20" required />
    <label>Birth Date:</label><input type="date" asp-for="BirthDate" required />
    <label>May we email you about new offers?</label>
    <select asp-for="Offers">
        <option>Yes</option>
        <option>No</option>
    </select>
    <label>Phone Number: </label><input type="tel" asp-for="Phone" pattern="[0-9][0-9][0-9]-[0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]" required />
    @*<label>Please Leave Some Feedback: </label><input type="text" asp-for="FeedBack" maxlength="100" />*@
    <br />

    
    
    <input type="radio" name="q1"class="control" required />
    <label for="radio">Yes, Provide FeedBack</label>

    <fieldset class="conditional">
        <label for="option">Feedback</label>
        <input type="text" asp-for="FeedBack"id="option">
    </fieldset>

    <input type="radio" name="q1" class="control" required />
    <label for="radio">No, Do not provide Feedback</label>



    <br />
    <input type="submit" value="Register Now!" />

</form>